<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerceWebsite">

    <parameter name="browser" value=""/>

   <!-- <test  name="Check Registration With valid data">
        <classes>
            <class name="testCases.TC01_RegistrationTest">
                <methods>
                    <include name="RegisterTest_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check login page">
        <parameter name="browser" value=""/>
        <classes>

            <class name="testCases.TC02_LoginTest">

                <methods>
                    <include name="testLoginUserWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>
-->

        <test  name="Check Forget password">
            <classes>
                <class name="testCases.TC03_ForgetPasswordTest">
                    <methods>
                        <include name="ForgetPasswordTest"/>
                    </methods>
                </class>
            </classes>
        </test>

    <!--
    <test  name="Select Currency ">
        <classes>

            <class name="testCases.TC06_CurrencyPageTest">

                <methods>
                    <include name="CurrencyPageTest"/>
                </methods>
            </class>
        </classes>
    </test>
-->


   <!-- <test  name="Change Password ">
        <classes>

            <class name="testCases.TC05_changePasswordTest">

                <methods>
                    <include name="changePasswordTest"/>
                </methods>
            </class>
        </classes>
    </test>-->


    <!--<test  name="Home page menu Bar">
        <classes>

            <class name="testCases.TC00_HomePageHoverMenuTest">

                <methods>
                    <include name="HomePageHoverMenuTest"/>
                </methods>
            </class>
        </classes>
    </test>-->


  <!--  <test  name="Add to Cart">
        <classes>

            <class name="testCases.TC09_addToWishlistTest">

                <methods>
                    <include name="addToCartTest"/>
                </methods>
            </class>
        </classes>
    </test>-->


  <!--  <test name="Check That user Can Add Product to Cart">
        <parameter name="browser" value=""/>
        <classes>

            <class name="testCases.TC10_AddToShoppingCartTest">

                <methods>
                    <include name="addToCartTest"/>
                </methods>
            </class>
        </classes>
    </test>-->



</suite>